<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Reconhecimento de Dígitos</title>
</head>
<body>Faça o upload de uma imagem de um dígito manuscrito</h1>
    <form method="POST" enctype="multipart/form-data">
        <label for="model_type">Escolha o modelo:</label>
        <select name="model_type" id="model_type">
            <option value="cnn">Convolucional</option>
            <option value="linear">Linear</option>
        </select>
        <input type="file" name="file" accept="image/*" required>
        <button type="submit">Prever</button>
        <button type="button" onclick="clearPrediction()">Limpar</button>
    </form>
    {% if digit is not none %}
        <h2>Dígito predito utilizado o modelo {{ model_type }}: {{ digit }}</h2>
    {% endif %}

    <script>
        function clearPrediction() {
            document.getElementById("digit").innerHTML = "";
        }
    </script>
</body>
</html>
